
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header{
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnExit{
    height: 30px;
    width: 70px;
    outline: none;
    border: 1px solid #EB4D55;
    border-radius: 5px;
    background-color: #EB4D55;
}

.btnCircle{
    height: 30px;
    width: 70px;
    outline: none;
    border: 1px solid #F6C523;
    border-radius: 5px;
    background-color: #F6C523;
}

.card{
    margin-top: 10px;
    width: 80%;
    height: 500px;
    border: 1px solid black;
    border-radius: 8px;
}

.card img{
    width: 100%;
    height: 100%;

    border-radius: 8px;
}

.play{
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#playCard{
    width: 70px;
    height: 30px;
    outline: none;
    border: 1px solid #7CBD1E;
    background-color: #7CBD1E;
    border-radius: 5px;
    margin-top: 15px;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease;
}

.modal-container{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-container.show{
    pointer-events: auto;
    opacity: 1;
}

.modal{
    position: relative;
    height: 70%;
    background-color: #F7CCAC;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px 50px;
    max-width: 100%;
    text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#number{
	height: 30px;
	border: 1px solid #C69B7B;
	outline: none;
	text-align: center;
	border-radius: 2px;
    font-size: 16px;
    font-weight: 400;

    background-color: #C69B7B;
}

#circle{
	position: relative;
}

#arrow{
	position: absolute;
	top: 3%;
	left: 45%;
	font-size: 30px;
	color: black;
}

#btnPlay{
	margin-top: 20px;
}

#btnClose{
	margin-top: 20px;
}

#btnPlay{
    background-color: #1597BB;
    width: 100px;
    height: 30px;
    outline: none;
    border: 1px solid  #1597BB;
    border-radius: 5px;
   
}

#btnClose{
    margin-top: 10px;
    background-color: red;
    height: 30px;
    width: 80px;
    outline: none;
    border: 1px solid red;
    border-radius: 5px;
}

.fade-in {
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.zoom-out{
    animation: zoomOut 2s
}

@keyframes zoomOut {
    0%{ width: 10%; height: 10%}
    100%{ width: 100%; height: 100%;}
}

.rotate-in-center {
	-webkit-animation: rotate-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-in-center {
    0% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
}

@keyframes rotate-in-center {
    0% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
}

.bounce-top {
	-webkit-animation: bounce-top 1s both;
	        animation: bounce-top 1s both;
}

@-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
}

@keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
}

.roll-in-left {
	-webkit-animation: roll-in-left 1s ease-out both;
	        animation: roll-in-left 1s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-10 9:22:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left {
    0% {
            -webkit-transform: translateX(-800px) rotate(-540deg);
                    transform: translateX(-800px) rotate(-540deg);
            opacity: 0;
    }
    100% {
            -webkit-transform: translateX(0) rotate(0deg);
                    transform: translateX(0) rotate(0deg);
            opacity: 1;
    }
    }
@keyframes roll-in-left {
    0% {
            -webkit-transform: translateX(-800px) rotate(-540deg);
                    transform: translateX(-800px) rotate(-540deg);
            opacity: 0;
    }
    100% {
            -webkit-transform: translateX(0) rotate(0deg);
                    transform: translateX(0) rotate(0deg);
            opacity: 1;
    }
}

.flicker-in-1 {
	-webkit-animation: flicker-in-1 2s linear both;
	        animation: flicker-in-1 2s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-10 9:25:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
 @-webkit-keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}

@keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}

.rotate-in-diag-1 {
	-webkit-animation: rotate-in-diag-1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-diag-1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-10 9:31:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-diag-1
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-in-diag-1 {
    0% {
        -webkit-transform: rotate3d(1, 1, 0, -360deg);
                transform: rotate3d(1, 1, 0, -360deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
                transform: rotate3d(1, 1, 0, 0deg);
        opacity: 1;
    }
}
@keyframes rotate-in-diag-1 {
    0% {
        -webkit-transform: rotate3d(1, 1, 0, -360deg);
                transform: rotate3d(1, 1, 0, -360deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
                transform: rotate3d(1, 1, 0, 0deg);
        opacity: 1;
    }
}

.rotate-in-tl {
	-webkit-animation: rotate-in-tl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-tl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-10 9:34:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-tl
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-in-tl {
    0% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      -webkit-transform-origin: top left;
              transform-origin: top left;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: top left;
              transform-origin: top left;
      opacity: 1;
    }
}

@keyframes rotate-in-tl {
    0% {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        opacity: 1;
    }
}

.slide-in-elliptic-bottom-bck {
	-webkit-animation: slide-in-elliptic-bottom-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-bottom-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-10 9:39:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-bottom-bck
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-bottom-bck {
    0% {
      -webkit-transform: translateY(600px) rotateX(-30deg) scale(6.5);
              transform: translateY(600px) rotateX(-30deg) scale(6.5);
      -webkit-transform-origin: 50% -100%;
              transform-origin: 50% -100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 500px;
              transform-origin: 50% 500px;
      opacity: 1;
    }
}

@keyframes slide-in-elliptic-bottom-bck {
    0% {
      -webkit-transform: translateY(600px) rotateX(-30deg) scale(6.5);
              transform: translateY(600px) rotateX(-30deg) scale(6.5);
      -webkit-transform-origin: 50% -100%;
              transform-origin: 50% -100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 500px;
              transform-origin: 50% 500px;
      opacity: 1;
    }
}

.shake-bl {
	-webkit-animation: shake-bl 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-bl 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-10 9:43:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-bl
 * ----------------------------------------
 */
@-webkit-keyframes shake-bl {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
}

@keyframes shake-bl {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
}
  
  
  